<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546006027219-gusgeflovn46hr42039jank5nnveq634.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546006027219-gusgeflovn46hr42039jank5nnveq634</string>
	<key>API_KEY</key>
	<string>AIzaSyDuwEwicFE4zrYvfCGPbkEPTfneBJr5vyo</string>
	<key>GCM_SENDER_ID</key>
	<string>546006027219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendster</string>
	<key>PROJECT_ID</key>
	<string>friendster-1e133</string>
	<key>STORAGE_BUCKET</key>
	<string>friendster-1e133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546006027219:ios:3510bae6ac2e5046cd7d26</string>
</dict>
</plist>